<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monitor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .box {
        position: absolute;
        margin-left: -10px;
        margin-top: -10px;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
      }
      #target {
        background: red;
      }
      #phoint1 {
        background: blue;
        border-radius: 50%;
      }
      #phoint2 {
        background: green;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div id="output">
    </div>
    <div id="target" class="box"></div>
    <div id="phoint1" class="box"></div>
    <div id="phoint2" class="box"></div>
    <script>
      const socket = io();
      socket.on('connect', function() {
        console.log('Connected')
        socket.emit('join', { as: 'monitor' });
      });

      socket.on('orientation', (ori) => {
        const alpha = Math.abs(ori.beta) <= 90 ? ((360 - ori.alpha) + 180) % 360 - 180
                                     : ((360 - ori.alpha) + 360) % 360 - 180;
        const beta = Math.abs(ori.beta) <= 90 ? -ori.beta : (ori.beta + 360) % 360 - 180;

        const page_width = document.body.offsetWidth;
        const page_height = document.body.offsetHeight;
        const x = page_width * (0.5 + alpha / 90);
        const y = page_height * (0.5 + beta / 90);

        const phoint1 = document.querySelector('#phoint1');
        phoint1.style.left = `${x}px`;
        phoint1.style.top = `${y}px`;

        const x_ = ori.estimated_x;
        const y_ = ori.estimated_y;

        const phoint2 = document.querySelector('#phoint2');
        phoint2.style.left = `${x_}px`;
        phoint2.style.top = `${y_}px`;

        const output = document.querySelector('#output');
        output.innerHTML = `alpha: ${ori.alpha}<br>beta: ${ori.beta}<br>gamma: ${ori.gamma}<br>alpha': ${alpha}<br>beta': ${beta}<br>x: ${x}<br>y: ${y}<br>x': ${x_}<br>y': ${y_}`;

        if (recording && typeof targetX !== 'undefined' && typeof targetY !== 'undefined') {
          socket.emit('train', { source: [ori.alpha, ori.beta, ori.gamma], target: [targetX, targetY] });
        }
      });

      let recording = false;
      socket.on('record', (command) => {
        if (command === 'start') {
          recording = true;
        }
        else if (command === 'end') {
          recording = false;
        }
      });

      let targetX = 0;
      let targetY = 0;
      const t = 2 * Math.PI * Math.random();
      const v = 4;
      let vx = v * Math.sin(t);
      let vy = v * Math.cos(t);
      function changePosition() {
        const page_width = document.body.offsetWidth;
        const page_height = document.body.offsetHeight;
        console.log(page_width, page_height);

        let newX = targetX + vx;
        let newY = targetY + vy;

        if (newX >= page_width) {
          newX = page_width;
          vx = -vx;
        }
        else if (newX <= 0) {
          newX = 0;
          vx = -vx;
        }

        if (newY >= page_height) {
          newY = page_height;
          vy = -vy;
        }
        else if (newY <= 0) {
          newY = 0;
          vy = -vy;
        }

        const target = document.querySelector('#target');
        target.style.left = `${newX}px`;
        target.style.top = `${newY}px`;

        targetX = newX;
        targetY = newY;
      }

      function anim() {
        changePosition();
        setTimeout(anim, 0);
      }
      setTimeout(anim, 0);
    </script>
  </body>
</html>
